{% extends 'base.html.twig' %}

{% block title %}Hello MyOrderController!{% endblock %}

{% block body %}
    <h1>Order index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>CreatedAt</th>
            <th>Status</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.total }}</td>

            </tr>
        </tbody>
    </table>
    <h4>Items :</h4>
    {% for item in order.orderItems %}
        <div class="d-flex">
            <div class="d-flex m-3">
                <p>{{ item.product.name }} </p>
                <p>{{ item.product.price }} €</p>
            </div>
            <a href="{{ path('produit_show', {id:item.product.id}) }}" class="btn btn-secondary m-3">view</a>
        </div>
    {% endfor %}
{% endblock %}
