{% extends 'base.html.twig' %}

{% block body %}

<div class="m-5 p-5">
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}

    <button type="submit" class="btn btn-success">submit</button>
    {{ form_end(form) }}
</div>


{% endblock %}
