{% extends 'base.html.twig' %}

{% block title %}Hello GateauController!{% endblock %}

{% block body %}


    <div class="container">
        <div class="card m-3 p-2">
            <h3> {{ produit.name }} </h3>
            <div class="container">
                {% for image in produit.images %}
                    <img class="d-block " src="{{ vich_uploader_asset(image,'imageFile')|imagine_filter('vignette') }}">
                {% endfor %}
            </div>
            <p> {{ produit.description }} </p>
            <p> {{ produit.price }} </p>
            <div class="">
                <div class="">
                    <a href="{{ path('app_produit') }}" class="btn btn-success">back</a>
                    {% if app.user %}
                        <a href="{{ path('comment_create', {id:produit.id}) }}" class="btn btn-success">Comment</a>
                    {% endif %}
                </div>

                {% if app.user %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('app_image', {id:produit.id}) }}" class="btn btn-primary">images</a>
                    {% endif %}
                {% endif %}

                {% if app.user %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('produit_delete', {id:produit.id}) }}" class="btn btn-danger">Delete</a>
                        <a href="{{ path('produit_edit', {id:produit.id}) }}" class="btn btn-warning">Edit</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <h5>Commentaires :</h5>
        <div class="m-5">
               {% for comment in produit.comments %}
                   <div class="card m-1 p-2">
                       <h4> {{ comment.name }} </h4>
                       <strong >{{ comment.avis }} étoile</strong>
                       <p> {{ comment.creator.email }}</p>
                       <p> {{ comment.content }} </p>
                   </div>
               {% endfor %}
        </div>
    </div>

{% endblock %}
