{% extends 'base.html.twig' %}

{% block title %}Hello GateauController!{% endblock %}

{% block body %}


    <div class="card row m-3">
        <h3> {{ produit.name }} </h3>
        <p> {{ produit.description }} </p>
        <p> {{ produit.price }} </p>
        <div class="">
            <a href="{{ path('app_produit') }}" class="btn btn-success">back</a>
            <a href="{{ path('produit_delete', {id:produit.id}) }}" class="btn btn-danger">Delete</a>
            <a href="{{ path('produit_edit', {id:produit.id}) }}" class="btn btn-warning">Edit</a>
        </div>
    </div>


{% endblock %}
